.logo_effect{
    height:3.5rem;
    width: 7rem;
    }
*{
    margin:0;
    padding:0;
}

.cart{
    border: 7px solid  #2AE30B;
    padding:10px;
    margin-left:10px;
}

.pages{
    padding-top:3px;
}



@media only screen and  (max-width:488px){
.btn{
position: relative;
top:5rem;
right:10rem
}
}